<div class="container mt-4">
  <div class="row">
    <div class="col">
    <h1>
      Delivery Tracker
    </h1>

    <p>Know if something gets lost in the mail!</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col">
    <h2>
      Are you expecting a package?
    </h2>

    <form action="/insert_delivery" method="post">
      

        <input type="hidden" name="query_user_id" value="<%= current_user.id %>">
      <div class="form-group"> 
        <label for="description_box">
          Description
        </label>

        <input type="text" class="form-control" id="description_box" name="query_description">
      </div>

      <div class="form-group">
        <label for="supposed_to_arrive_on_box">
          Supposed to arrive on
        </label>

        <input type="date" class="form-control" id="supposed_to_arrive_on_box" name="query_supposed_to_arrive_on">
      </div>

      <div class="form-group">
        <label for="details_box">
          Details
        </label>

        <textarea id="details_box" class="form-control" name="query_details" rows="3"></textarea>
      </div>


      <input type="hidden" name="query_arrived" value="false">
      <button class="btn btn-primary">
        Log delivery
      </button>
    </form>
  </div>
</div>

<hr>

  <div class="row waiting_on">
    <div class="col">

      <h2>Waiting on</h2>

      <ul class="list-group">
        <% @deliveries_waiting.each do |a_delivery|%>
          <li class="list-group-item">
            <div><%= a_delivery.description %></div>

            <div>
              <% date_to_display = a_delivery.supposed_to_arrive_on %>
              <% css_class = date_to_display < Date.today - 3 ? 'past-date' : 'future-date' %>
              <%= content_tag(:span, "Supposed to arrive on #{date_to_display.strftime("%Y-%m-%d")}", :class => css_class) %>
            </div>

            <div>
              <%= a_delivery.details %>
            </div>

            <div>
              <form action="/modify_delivery/<%= a_delivery.id %>" method="post">
                <input type="hidden" name="arrived" value="true">
                <button class="btn btn-success">Mark as received</button>
              </form>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row received">
    <div class="col">

      <h2>Received!</h2>

      <ul class="list-group">
        <% @deliveries_received.each do |a_delivery|%>
          <li class="list-group-item">
            <div><%= a_delivery.description %></div>

            <div>
              <small>
                <%= "Updated #{time_ago_in_words(a_delivery.updated_at)} ago" %>
                <a href="/delete_delivery/<%= a_delivery.id %>" class="btn btn-danger btn-sm">Delete</a>
              </small>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
